*{
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px;

}
.container{
    margin: 0 auto;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    background-image: linear-gradient(
        110deg,
        rgba(255,255,255,0.7) 0%,
        rgba(255,255,255,0.7) 50%,
        transparent 50%
    ),
    url("../Image/h.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.form-contro{
    margin-bottom: 20px;
    position: relative;
}
.form-contro label,
.form-contro input{
    display: block;

}
.form-contro input{
    padding: 20px 20px ;
    margin-bottom: 30px;
    outline: none;
    border-radius: 3px;
    border: 0;
    background-color: white;
    width: 40%;
    border-bottom: 3px solid transparent;
    box-shadow: 0 0 6px gray inset;
}
.form-contro input:focus:valid{
    border-bottom: 3px solid green;
}
.form-contro input:focus:not(:valid){
    border-bottom: 3px solid orangered;
}

/* 
.form-contro input:placeholder-shown+label{
    opacity: 0;
    visibility: hidden;
} */

.btn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #bf0000;
    margin-right: 20px;
    border: #8c8b8bb7 solid 1px;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.872) ;
    transition: 0.6s;

}
.btn:hover{
    border: #bf0000 solid 1.3px;
}
.error {
    background-color: #f8d7da;
    color: #842029;
    padding: 15px 20px;
    margin-top: 20px;
    border-radius: 12px;
    width: 80%;
    display: block;
  }