*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
.all{
    width: 1440px;
    height: 870px;
    top: 1415px;
    background-color: rgba(0, 0, 0, 0.005);
  
}
.test{
    background-color: rgba(248, 8, 8, 0.076);
}
.div{
 
    width: 140px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.5s;
}
.div .rot{
    transform: rotate(90deg);
    text-transform: capitalize;
    color: white;
    font-size: 20px; 
    font-weight: bold;  
}
.div .par{
    display: none;
    
}
.div:hover{
    width: 250px;
}
.div:hover .rot{
    display: none;
}
.div:hover .par{
    display: block;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.564);
    color: black;   
}


.center{
    text-align: center;
}
.title{
  font-family: 'Josefin Sans';
  padding-top: 20px;
  font-size: 50px;
  color: #214869;
}
.center .line{
    display: block;
    height: 4px;
    width: 350px;
    background-color:#ffdddd;
    margin: 0px auto 70px auto;
    text-shadow: black;

}


.item{
    background-color:rgba(0, 0, 0, 0.005) ;
    width: 1300px;
    height: 500px;
    margin-top: -20px;
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 1px;

}

.i1{
    width: 140px;
    height: 600px;
    background: linear-gradient(rgba(99,00,00,0.9),rgba(21,48,69,0.9)),url(../Image/1.jfif);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
   

}



.i1:hover{
    width: 250px;
    background: linear-gradient(rgba(99, 0, 0, 0),rgba(21, 48, 69, 0)),url(../Image/1.jfif);
    background-position: center;
    background-size: cover;
   
  
   
}


.i2{
   
    width: 140px;
    height: 600px;
    background: linear-gradient(rgba(99,00,00,0.9),rgba(21,48,69,0.9)),url(../Image/2.jfif);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    align-content: center;
    justify-content: center;
    border-radius: 20px;

}

.i2:hover{
    width: 250px;
    background: linear-gradient(rgba(99, 0, 0, 0),rgba(21, 48, 69, 0)),url(../Image/2.jfif);
    background-position: center;
    background-size: cover;
    
}

.i3{

    width: 140px;
    height: 600px;
    background: linear-gradient(rgba(99,00,00,0.9),rgba(21,48,69,0.9)),url(../Image/3.jfif);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    align-content: center;
    border-radius: 20px;

}

.i3:hover{
    width: 250px;
    background: linear-gradient(rgba(99, 0, 0, 0),rgba(21, 48, 69, 0)),url(../Image/3.jfif);
    background-position: center;
    background-size: cover;

}

.i4{

    width: 140px;
    height: 600px;
    background: linear-gradient(rgba(99,00,00,0.9),rgba(21,48,69,0.9)),url(../Image/4.jfif);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    align-content: center;
    border-radius: 20px;
    

}

.i4:hover{
    width: 250px;
    background: linear-gradient(rgba(99, 0, 0, 0),rgba(21, 48, 69, 0)),url(../Image/4.jfif);
    background-position: center;
    background-size: cover;
  
}
.i5{
    border-radius: 20px;
    width: 140px;
    height: 600px;
    background: linear-gradient(rgba(99,00,00,0.9),rgba(21,48,69,0.9)),url(../Image/5.jfif);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    align-content: center;
    

}

.i5:hover{
    width: 250px;
    background: linear-gradient(rgba(99, 0, 0, 0),rgba(21, 48, 69, 0)),url(../Image/5.jfif);
    background-position: center;
    background-size: cover;

}
.i6{
    border-radius: 20px;
    width: 140px;
    height: 600px;
    background: linear-gradient(rgba(99,00,00,0.9),rgba(21,48,69,0.9)),url(../Image/6.jfif);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    align-content: center;
    

}

.i6:hover{
    width: 250px;
    background: linear-gradient(rgba(99, 0, 0, 0),rgba(21, 48, 69, 0)),url(../Image/6.jfif);
    background-position: center;
    background-size: cover;
  
}

.i7{
    border-radius: 20px;
    width: 140px;
    height: 600px;
    background: linear-gradient(rgba(99,00,00,0.9),rgba(21,48,69,0.9)),url(../Image/7.jfif);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    align-content: center;
    

}

.i7:hover{
    width: 250px;
    background: linear-gradient(rgba(99, 0, 0, 0),rgba(21, 48, 69, 0)),url(../Image/7.jfif);
    background-position: center;
    background-size: cover;

}
