table, th {
    border: 1px solid;
  }

  table {
    width: 100%;
    text-align: center;
    justify-items: center;
  }
  
  th {
    height: 70px;
    color: #214869;
  }

  /* addUser */
  .formT{
    background-image: linear-gradient(
        110deg,
        rgba(248, 103, 103, 0.79) 0%,
        rgb(239, 182, 182) 100%,
        transparent 50%
    );
   
    width: 100%;
    height: 33rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px;
 
}
.formT input{
  display: block;
  width: 70%;
  border: solid  #bf0000 1px;
  border-radius: 8px;
  height: 45px;
 padding-left: 30px;
 margin: 10px;

}
